{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Student Affairs Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Add.css' %}">

</head>
<body>

<main>
    <section class="hero">
        <h1 class = "homeh1">Welcome to Student Affairs Website</h1>
        <p>This website provides an easy way to manage student data.</p>
        <p>Please use the navigation bar to access the various functionalities.</p>
        <div class="center">
            <img src="{% static 'image/sec.png' %}" alt="Image" class="center-image">
        </div>
    </section>
</main>

</body>
</html>

<style>
    .center-image {
        display: block;
        margin: 0 auto;
        max-width: 35%;
        max-height: 35%;
    }
</style>

{% endblock content %}
