{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Students</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Inactive Students Page.css' %}">
</head>
<body>


  <main>
    <div class="container">
        <h1>View Active or Inactive Students</h1>
        <form id="inactiveStudentsForm" method="POST">
          {% csrf_token %}
            <select name="status" id="status">
                <option disabled selected value="">Select Status</option>
                <option value="active">Active Students</option>
                <option value="inactive">Inactive Students</option>
            </select>
            <input id="submit" value="Submit" onclick="getStudents()" style="margin: 30px 50px; background-color: #45a049; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.2s;" onmouseover="this.style.backgroundColor='#555'" onmouseout="this.style.backgroundColor='#45a049'">
        </form>

        <table id="std-table">
              <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Student Department</th>
                  <th>Status</th>
              </tr>
        </table>
    </div>
</main>

</body>
</html>

<script>

    function validateForm() {
        let x = document.getElementById("status").value;
        if (!x) {
            alert("Please Select Status");
            return false;
        }
        return true;
      }

    function getStudents(){
        if (! validateForm()){
            return false;
        }
        $.ajax({
            url: "{% url 'Active/Inactive Students' %}",
            type: "POST",
            data: {
                'status': document.getElementById("status").value,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (data) {
                if(data['std']){
                    if ($("#std-table").find("tr").length > 1) { // remove all rows except the first one
                        $("#std-table").find("tr:gt(0)").remove();
                    }

                    let std = JSON.parse(data["std"]);
                    for (let i = 0; i < std.length; i++){
                        let std_status = "";
                        if (std[i]["fields"]["status"]) {
                            std_status = "Active";
                        } else {
                            std_status = "Inactive";
                        }
                        $("#std-table").append("<tr>"+
                                            "<td>"+std[i]["fields"]["idoCollage"]+"</td>"+
                                            "<td>"+std[i]["fields"]["name"]+"</td>"+
                                            "<td>"+std[i]["fields"]["department"]+"</td>"+
                                            "<td>"+ std_status +"</td>"+
                                          "</tr>");
                    }
                }
            },
            error: function (data) {
                console.log(data["msg"]);
            }
        });
    }

</script>
{% endblock content %}