{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <title>Search for Students</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Search For Students.css' %}">
</head>
<body>



  <div class="container">
    <h1>Search For Student</h1>
  <main>
    <form id="SearchForStudent" method="POST">
      {% csrf_token %}
      <div>
        <label class="id">ID</label>
        <br>
        <input type="text" id="id" name="id" placeholder="Enter ID">
      </div>
      <input id="Search" value="Search" type="submit" style="margin: 30px 50px; background-color: #45a049; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.2s;" onmouseover="this.style.backgroundColor='#555'" onmouseout="this.style.backgroundColor='#45a049'">
    </form>
    <div class="result">
      {% if student %}
        <table>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>GPA</th>
            <th>BirthDate</th>
            <th>Gender</th>
            <th>Level</th>
            <th>Status</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
          <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.idoCollage }}</td>
            <td>{{ student.gpa }}</td>
            <td>{{ student.dob }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.level }}</td>
            <td>{% if student.status %} Active {% else %}Inactive {% endif %}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.mobile }}</td>
          </tr>
        </table>
      {% elif error_message %}
        <p>{{ error_message }}</p>
      {% endif %}
    </div>
    
    
  
  </main>
  </div>

</body>
</html>


<script>
  
  function checkText() {
    document.getElementsByClassName("result")[0].innerHTML = "";
    
		let id = document.getElementById("id").value;
		
    let student = localStorage.getItem(id);

    if(student === null) {
			alert("thier is no student with this id.");
		}
    else{
      let studentObj = JSON.parse(student);
      document.getElementsByClassName("result")[0].innerHTML += "Name: " + studentObj.Name + "<br>"+ "ID: " + studentObj.id + "<br>" + "gpa: " + studentObj.gpa + "<br>"+ "BirthDate:" + studentObj.dob + "<br>" + "Gender:" + studentObj.gender + "<br>" + "Level:" + studentObj.level + "<br>" + "Status:" + studentObj.status + "<br>" + "email:" +studentObj.email + "<br>" + "mobile:" + studentObj.mobile;

    }
  }

    
</script>

{% endblock content %}