{% extends 'base.html' %}
{% load static %}

{% block content %}


<html>
<head>
  <title>Update Student | Student Affairs Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Add.css' %}">
</head>
<body>


<div class="container">
  <h1>Update Student Information</h1>
  <form id="updateStudentForm" method="POST">
      {% csrf_token %}

      <label >ID</label>
      <input type="text" id="id"  name="id" placeholder="Enter ID" required>



      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Enter Name">


      <label >Date of Birth</label>
      <input type="date" id="dob"  name="dob">

      <label >GPA</label>
      <input type="text" id="gpa" name="gpa" placeholder="Enter GPA">

      <label >Gender</label>
      <select id="gender" name="gender">
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>

      <label >Level</label>
      <input id="level" type="number" max="4" min="1" name="level" placeholder="Enter Level">

      <label>Status</label>
      <select id="status" name="status">
        <option value="">Select Status</option>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>

      <label class="department">Department</label>
      <select id="department" id="department" name="department">
        <option disabled selected>Select Department</option>
            <option value="CS">CS</option>
            <option value="IS">IS</option>
            <option value="IT">IT</option>
            <option value="AI">AI</option>
            <option value="DS">DS</option>
      </select>

      <label class="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Enter Email">

      <label >Mobile Number</label>
      <input id="mobile" type="tel" name="mobile" placeholder="Enter Mobile Number" >

    <div class="button">
        <input type="submit" id="submit" name="action" value="Update Student">
        <input type="submit" id="delet"  name="action" value="Delete Student">
    </div>
  </form>
</div>

</body>
</html>

{% if messages %}
    <script>
        // function to show alert message after update or delete
        function show_alert(){
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        }
        // call the function after loading the page
        window.onload = show_alert;

    </script>
{% endif %}

{#<script>#}
{#    // function to show alert message after update or delete#}
{#    function show_alert(){#}
{#        if("{{ msg }}"){#}
{#            alert("{{ msg }}");#}
{##}
{#        }#}
{#    }#}
{#    // call the function after loading the page#}
{#    window.onload = show_alert;#}
{##}
{#</script>#}
{% endblock content %}



