body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

main {
    margin: 40px 0px;
}

.homeh1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 10px;
}

.container,
.hero {
    margin: 70px auto;
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.hero {
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin: 35px 20px;
}

form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
  font-size: 16px;
  color: #555;
  display: block;
  width: 30%;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type= "email"],
input[type= "tel"],
select {
  width: 30%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #747474;
}

.ele{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#submit,
#delet {
    background-color: #45a049;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
    text-align: center;

}

#submit:hover,
#delet:hover {
    background-color: #555;
}

.error {
    color: red;
    margin-bottom: 10px;
}

#delet{
    background-color: #f44336;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}