footer{
    background-color: #ffffff00  !important;
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    
}

footer p{
    list-style: none;
    margin: 8px;
    padding: 0;
    display: flex;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 6px;
}