* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    color: #333;
    margin: 35px 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin: 20px auto;
    width: 50%;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main {
    margin: 40px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}

th {
    font-weight: bold;
    text-align: left;
    background-color: #00b3ff;
    color: #fff;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.form-group select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
}

#class {
    padding: 10px;
    font-family: Arial, sans-serif;
}

#status {
    border-color:#333;
    border-radius: 5px;
    width: 40%;
}


form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

label {
    font-weight: bold;
    margin: 10px;
    color: #333;
}

select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color:#555;
}


#submit,
button[type="submit"] {
    margin: 30px 50px;
    background-color:#45a049;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    /*text-align: center;*/
}

button[type="button"]:hover {
    background-color: #555;
}

.result {
    background-color:#f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    height: 200px;
    width: 400px;
}